body {
	width: 1024px;
	height: 768px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #222;
	background: #00AECB;
	background: radial-gradient(circle, #6CD4E1 50%, #00AECB);
}

main {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
	text-align: center;
}

main h1, h3 {
	margin: 0;
}