<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
    <meta name='description' content='A free and open-source browser-based MMORPG.'>
    
    <!-- Constrain viewport on iOS -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    
    <% // Load in stylesheets for this page
       var i, len;
       if (typeof stylesheets !== 'undefined') {
         for (i = 0, len = stylesheets.length; i < len; i++) { %>
           <link rel='stylesheet' href='/stylesheets/<%= stylesheets[i] %>.css'>
    <%   }
       } %>
    
    <% if (typeof pageName !== 'undefined' && pageName === 'testing') { %>
      <script data-main='/gamefiles/client/client_start' src='/gamefiles/client/lib/require.js'></script>
    <% } %>
    <title><%= title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
