<div id='gameplay'>
      
  <!--
  <h1 id='game-title'>Tabany</h1>
  -->
  
  <div id='map-container'>
    
    <div id='map'>
      <div id='layers'></div>
    </div>
    
  </div>
  
  <div id='controller'>
    <div class='button 'id='left-button'></div>
    <div class='button 'id='left-up-button'></div>
    <div class='button' id='up-button'></div>
    <div class='button 'id='right-up-button'></div>
    <div class='button' id='right-button'></div>
    <div class='button 'id='right-down-button'></div>
    <div class='button' id='down-button'></div>
    <div class='button 'id='left-down-button'></div>
  </div>
  
</div>
